div#tableform table
{
    border-collapse: collapse;
    margin: 3px;
    padding: 0;
    border-color: #CDCDCD;
    border-style: solid solid solid solid;
    border-width: 1px 1px 0 1px;
    text-align: center;
    line-height: 18px;
}

#tableform th
{
    border-color: #CDCDCD;
    color: #333;
    border-style: none solid solid solid;
    border-width: 0 1px 1px 1px;
    padding: 1px 20px 1px 0px;
    background-color: #EAEAEA;
    font-weight: bold;
    width: 100px;
    text-align: right;
    font-size: 13px;
}

#tableform td
{
    border-color: #CDCDCD;
    border-style: solid solid solid solid;
    border-width: 0 0px 1px 1px;
    padding: 4px 15px 4px 10px;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
    color: #336;
    font-size: 12px;
}

.Descriptor
{
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
    color: #009999;
    font-size: X-Large;
    font-weight: bold;
}

div#tablenone table
{
    border-style: none;
    border-width: 0px;
    border-spacing: 0px;
}

#tablenone tr
{
    border-style: none;
    border-width: 0px;
    border-spacing: 0px;
}

#tablenone td
{
    border-style: none;
    border-width: 0px;
    border-spacing: 0px;
    padding: 0px;
    vertical-align: middle;
}
