.SurveyTitle {
    FONT-WEIGHT: bold;
    FONT-SIZE: 32px;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyDescription {
    FONT-SIZE: 18px;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyQuestion {
    vertical-align: top;
    text-align: left;
    FONT-SIZE: 12px;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyQuesLarge {
    FONT-SIZE: 16px;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyQuesLargeBold {
    FONT-SIZE: 16px;
    font-weight: 900;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyPageButton {
    width: 250px;
    height: 60px;
    FONT-SIZE: 18px;
    font-weight: 900;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyColumnTab {
    width: 3px;
}

.SurveyNormal {
    FONT-SIZE: 12px;
    font-family: "微軟正黑體",Microsoft JhengHei, Arial, Tahoma;
}

.SurveyUnderline {
    text-decoration: underline;
}

.SurveyUnderlineBold {
    text-decoration: underline;
    font-weight: bold;
}

.SurveyRadioColumn {
border-bottom: 1px solid black;
    width:40px;
}

